<h1>List of Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
        <%= user.name %>
        <p>Bio: <strong><%= user.bio || "N/A" %></strong></p>
        <p>ID: <%= user.id %></p>
    </li>
  <% end %>
</ul>
